        </main>

        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Powered by Yuhui Huang, 17343050</div>
                <!-- ul class="mdl-mini-footer__link-list">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy & Terms</a></li>
                    </ul -->
            </div>
        </footer>
    </div>

    <script src="/material.min.js"></script>
</body>

</html>