<%- include('header.ejs', { locals: {user: locals.user, title: 'Sign In - 首页'}}); %>
<div class="page-content">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">欢迎！</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div class="text-left">
                            点击右上角的注册和登录即可测试本 Web 应用程序
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer.ejs', {}) %>