.container {
    text-align: center;
}

.board {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background: gray;
}

.component {
    background: white;
    position: absolute;
    overflow: hidden;
    text-align: left;
    border: 1px gray solid;
    width: 98px;
    height: 98px;
    transition: all 0.1s ease-in-out;
}

.component .img {
    position: absolute;
    height: 398px;
    width: 398px;
    background-size: 100%;
    transition: all 0.2s ease-in-out;
}

.component:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 16px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
}

button {
    margin-left: 8px;
    margin-right: 8px;

    padding: 0 8px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    color: #ca0c16 !important;
    border: 1px solid #ca0c16 !important;
    transition: background-color .1s ease-in-out;

    cursor: pointer;
    line-height: 28px;
    background-color: white;
}

button:active, button:hover {
    outline: 0;
}

button:hover {
    background-color: #fde3e4;
}

.center {}