html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url('./image/background.jpg');
    background-position: 50%;
    background-size: cover;
    justify-content: center;
    position: relative;
}

body:hover {
    cursor: url("./image/cursor.png"), auto;
}

body:active {
    cursor: url("./image/cursor-down.png"), auto;
}

#board {
    user-select: none;
    width: 760px;
    height: 400px;
    margin: 100px auto 0 auto;
}

#board > div {
    width: 160px;
    height: 140px;
    display: inline-block;
    margin-right: 30px;
    position: relative;
}

.ground {
    display: inline-block;
    width: 160px;
    height: 70px;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.mole {
    width: 100px;
    z-index: 1;
    position: absolute;
    bottom: 25px;
    left: 30px;
}

.board {
    text-align: center;
}

.board > div {
    background-size: 100% 100%;
    display: inline-block;
    width: 200px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 65px;
    color: #924100;
    margin: 0 20px;
}

.scoreboard {
    background: url('./image/score.png');
}

.scoreboard div {
    margin-left: 60px;
}

.timeboard {
    background: url('./image/time.png');
}

.timeboard div {
    margin-left: 60px;
}

#restart {
    padding: 0;
    background: none;
    border: none;
    outline: none;
    height: 54px;
    background-image: url('./image/restart.png');
}

#restart:active {
    background-image: url('./image/restart_pressed.png');
}

#play {
    padding: 0;
    background: none;
    border: none;
    outline: none;
    height: 54px;
    background-image: url('./image/play.png');
}

#play:active {
    background-image: url('./image/play_pressed.png');
}

#play[gaming] {
    background-image: url('./image/home.png');
}

#play[gaming]:active {
    background-image: url('./image/home_pressed.png');
}

#play img {
    opacity: 0;
}

#summaryDialog {
    position: fixed;
    text-align: center;
    border: none;
    padding: 0;
    background: none;
    background-image: url('./image/summary.png');
    width: 515px;
    height: 527px;
    left: 50%;
    top: 50%;
    margin-left: -257px;
    margin-top: -263px;
    z-index: 20;
}

#summaryDialog > div {
    display: inline-block;
    padding-top: 150px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 65px;
    color: #924100;
}