html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url('./image/background.jpg');
    background-position: 50%;
    background-size: cover;
    justify-content: center;
    position: relative;
}

body:hover {
    cursor: url("./image/cursor.png"), auto;
}

body:active {
    cursor: url("./image/cursor-down.png"), auto;
}

#board {
    user-select: none;
    width: 760px;
    height: 400px;
    margin: 100px auto 0 auto;
}

#board > div {
    width: 160px;
    height: 140px;
    display: inline-block;
    margin-right: 30px;
    position: relative;
}

.ground {
    display: inline-block;
    width: 160px;
    height: 70px;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.mole {
    width: 100px;
    z-index: 1;
    position: absolute;
    bottom: 25px;
    left: 30px;
}

.score {
    background: url('./image/score.png');
    background-size: 100% 100%;
    display: block;
    width: 200px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 65px;
    color: #924100;
    margin: 0 auto;
}

.score div {
    margin-left: 60px;
}