<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>主页</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>

    <link href="/icon.css" rel="stylesheet">
    <link rel="stylesheet" href="/material.indigo-pink.min.css">
    <link rel="stylesheet" type="text/css" href="/register.css" />
    <script src="/index.js"></script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Sign In</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="/">主页</a>
                    <a class="mdl-navigation__link" href="/register.html">注册</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Sign In</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/">主页</a>
                <a class="mdl-navigation__link" href="/register.html">注册</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <div class="mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">主页</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <h5>点击右上角（或者左上角汉堡按钮点击后弹出的抽屉中）的注册，或者在此查看用户详情。<br><br>如果找不到用户则直接跳转注册页面</h5>

                                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" id="txtUsername" pattern="^[a-zA-Z]\w{5,17}$">
                                            <label class="mdl-textfield__label" for="txtUsername">用户名</label>
                                            <span class="mdl-textfield__error">6~18位英文字母、数字或下划线，必须以英文字母开头</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mdl-card__actions mdl-card--border text-right">
                                        <button type="submit" id="btnSubmit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">查询</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">© Huang Yuhui 2018. 17343050.</div>
            </div>
        </footer>
    </div>

    <script src="/material.min.js"></script>
</body>

</html>