table>tbody>tr:nth-child(even) {
    background-color: #DFDFDD;
}

table {
    border-collapse: collapse;
}

table th {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-align: left;
    background-color: #031B7F;
    white-space: normal;
    cursor: pointer;
}

table th[sort] {
    background-color: #A6AFFC;
    background-repeat: no-repeat;
    background-position: center right;
    padding: 4px 18px 4px 4px;
}

table th[sort=up] {
    background-image: url(ascend.png);
}

table th[sort=down] {
    background-image: url(descend.png);
}

table th, td {
    border: 1px solid gray;
    padding: 4px;
}