<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sign In - 注册</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha1/0.6.0/sha1.min.js"></script>

    <link href="/icon.css" rel="stylesheet">
    <link rel="stylesheet" href="/material.indigo-pink.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script type="text/javascript" src="/user/register.js"></script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Sign In</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="/user/register">注册</a>
                    <a class="mdl-navigation__link" href="/user/login">登录</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Sign In</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/user/register">注册</a>
                <a class="mdl-navigation__link" href="/user/login">登录</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <div class="mdl-card mdl-shadow--2dp">
                                <form onsubmit="return false;">
                                    <div class="mdl-card__title">
                                        <h2 class="mdl-card__title-text">注册</h2>
                                    </div>
                                    <div class="mdl-card__supporting-text">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" id="txtUsername" pattern="^[a-zA-Z]\w{5,17}$">
                                            <label class="mdl-textfield__label" for="txtUsername">用户名</label>
                                            <span class="mdl-textfield__error">6~18位英文字母、数字或下划线，必须以英文字母开头</span>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="password" id="txtPassword" pattern="^[a-zA-Z0-9_\-]{6,12}$">
                                            <label class="mdl-textfield__label" for="txtPassword">密码</label>
                                            <span class="mdl-textfield__error">6~12位数字、大小写字母、中划线、下划线</span>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="password" id="txtConfirmPassword" oninput="check(this)">
                                            <label class="mdl-textfield__label" for="txtConfirmPassword">确认密码</label>
                                            <span class="mdl-textfield__error">密码不匹配</span>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" id="txtStudentID" pattern="^[1-9]\d{7}$">
                                            <label class="mdl-textfield__label" for="txtStudentID">学号</label>
                                            <span class="mdl-textfield__error">8位数字，不能以0开头</span>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" id="txtPhone" pattern="^[1-9]\d{10}$">
                                            <label class="mdl-textfield__label" for="txtPhone">电话</label>
                                            <span class="mdl-textfield__error">11位数字，不能以0开头</span>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" id="txtEmail" pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$">
                                            <label class="mdl-textfield__label" for="txtEmail">邮箱</label>
                                            <span class="mdl-textfield__error">不符合邮箱格式</span>
                                        </div>
                                    </div>
                                    <div class="mdl-card__actions mdl-card--border text-right">
                                        <button type="reset" class="mdl-button mdl-js-button mdl-js-ripple-effect">重置</button>
                                        <button type="submit" id="btnSubmit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">注册</button>
                                    </div>
                                    <div class="mdl-card__menu">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Powered by Yuhui Huang, 17343050</div>
                <!-- ul class="mdl-mini-footer__link-list">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy & Terms</a></li>
                    </ul -->
            </div>
        </footer>
    </div>

    <script src="/material.min.js"></script>
</body>

</html>